:root {
  /* ### Primary */

--soft-blue: hsl(215, 51%, 70%);
--cyan: hsl(178, 100%, 50%);
/* ### Neutral */
/* (main BG) */
--very-dark-blue-main : hsl(217, 54%, 11%);
/* (card BG) */
--very-dark-blue-card : hsl(216, 50%, 16%);
/* (line) */
--very-dark-blue-line : hsl(215, 32%, 27%);
--white: hsl(0, 0%, 100%);
}

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family:'Outfit', sans-serif;
}

p{
  font-size: 15px;
  font-weight: 300;
}

body{
  /* padding: 2rem; */
  background-color: var(--very-dark-blue-main);
  display: grid;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  min-height: 100vh;
  grid-template-rows: 1fr auto;
}

.container {
  padding: 1.5rem;
  display: grid;
  grid-template-rows: 70% 30%;
  justify-items: center;
  gap: 1rem;
  background-color: var(--very-dark-blue-card);
  border-radius: 1rem;
  max-width: 350px;
  /* min-width: 300px; */
}

.container .box-img {
  width: 100%;
  height: 300px;
  position: relative;
  overflow: hidden;
  border-radius: 0.5rem;
}

.box-img img {
  width:100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.box-img div {
  display: grid;
  place-content: center;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color:hsl(178, 100%, 50%, 60%);
  opacity: 0;
  cursor: pointer;
  transition: all 0.3s;
}

.box-img div:hover {
  opacity: 1;
}

.box-img div img {
  width: 40px;
}

.box-content {
  display: grid;
  gap: 1rem;
}

.box-content h3{
  color: var(--white);
  font-weight: 600;
  font-size: 1.5rem;
  transition: 0.5s;
}

.box-content h3:hover {
  color: var(--cyan);
  cursor: pointer;
}

.box-content p {
  color: var(--soft-blue);
  line-height: 1.5;
}

.container .box-detail {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid hsla(215, 51%, 70%,0.3);
  padding-bottom: 1rem;
}

.box-detail p {
  display: inline-block;
}

.box-detail .price p{
  color: var(--cyan);
  font-weight: 400;
}

.price {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.time {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.creator {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
}

.creator img {
  width: 35px;
  height: 35px;
  border: 1px solid white;
  border-radius: 50%;
  aspect-ratio: 1/1;
}

.creator span {
  color : var(--white);
  transition: 0.5s;
}

.creator span:hover {
  color: var(--cyan);
  cursor: pointer;
}

@media (max-width: 400px ) {
  body {
    padding: 1.5rem;
  }
}

.attribution {
  padding-bottom : 2rem;
}